// colors

$m-black: #000000;
$m-title: #222222;
$m-text: #4E4D53;
$m-top: #4A4556;
$m-grey: #F7F5FA;
$m-footer: #161616;
$m-orange: #F47821;
$m-but: #878787;
$m-border: #EDEDED;

// fonts

$din: 'DIN Pro';
$dinB: 'DIN Pro Bold';
$rob: 'Roboto';
$button-font: 'Gilroy Extra Bold';


// resolutions

$sm: 991px;
$xs: 767px;


